<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.adamas.mapper.AnalysisMapper">

	<select id="getResult" resultType="org.adamas.model.LottoVO">
		select *
		from(
			select @rownum:=@rownum+1 rownum, l.*
			from lotto l, (select @rownum:=0) as tmp
			order by lno desc
		) as lottolist
		<![CDATA[
		where rownum> (#{param1}-1)*#{param2} and rownum <= #{param1}*#{param2}
		]]>
	</select>
	
	<select id="thisResult" resultType="org.adamas.model.LottoVO">
		select * from lotto where lno=#{lno}
	</select>
	
	<select id="mylotto" resultType="org.adamas.model.MylottoVO">
		select * from mylotto where id=#{id} order by mlno desc
	</select>
	
	<select id="getYearResult" resultType="org.adamas.model.LottoVO">
		select * 
		from lotto
		where lottoday between date_add(now(), interval -1 year) and now()
		order by lno desc
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) from lotto
	</select>
</mapper>