<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.adamas.mapper.ReplyMapper">

	<insert	id="replyWrite">
		insert into reply(bno, comment, id, nick)
		values(#{bno}, #{comment}, #{id}, #{nick})
	</insert>
	
	<select id="getList" resultType="org.adamas.model.ReplyVO">
		select * from reply where bno=#{bno}
	</select>
</mapper>
