@charset "UTF-8";

body{
	margin: 0;
}

ul{
	list-style: none;
}

li{
	float: left;
}

a{
	text-decoration: none;
	color: black;
}

/* 전체 영역 */
.wrap{
	min-width: 1000px;
	width: 100%;
	background: orange;
	display: flex;
}

/* 왼쪽 영역*/
.leftContent_wrap{
	min-width: 240px;
	width: 240px;
	min-height: 990px;
	height: auto;
	background: #008299;
}

/* 오른쪽 영역 */
.rightContent_wrap{
	box-sizing: border-box;
	flex-direction: row;
	min-width: 860px;
	width: 87%;
	min-height: 990px;
	height: auto;
	background: #E6E6FA;
}

/* 오른쪽 영역 > content 영역 */
.content{
	min-width: 760px;
	width: 100%;
	min-height: 870px;
	height: auto;
	background: #dcdcdc;
}
