@charset "UTF-8";

/* header 전체*/
.header_wrap{
	flex-direction: row;
	box-sizing: border-box;
	min-width: 240px;
	width: 15%;
	min-height: 940px;
	height: auto;
	padding: 10px;
}

/* logo 영역 */
.logo_wrap{
	min-width:220px;
	min-height: 90px;
	height: 10vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 메뉴 영역 */
.nav_wrap{
	min-width:220px;
	min-height: 840px;
	height: auto;
}

.nav_wrap > div{
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

.nav_wrap span{
	font-size: 18px;
	font-weight: bold;
}

.nav_wrap span:hover{
	cursor: pointer;
}

.nav_wrap span.normal:after{
	content: ' ▶';
}

.nav_wrap span.special:after{
	content: ' ▼';
}

.navUl{
	width: 180px;
	display: none;
	border: 1px solid;
	border-radius: 5px;
	margin-top: 5px;
	background: #FFFAFA;
}

.navUl > li{
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -40px;
	float: none;
}

.navUl > li:hover{
	background: #6495ED;
}
