@charset "EUC-KR";


/* 오른쪽 영역 > content 영역 */
.content{
	flex-direction: column;
	box-sizing: border-box;
	padding-bottom: 10px;
}

/* 오른쪽 영역 > content 영역 > content_title 영역 */
.content_title{
	box-sizing: border-box;
	min-width: 620px;
	width: 620px;
	min-height: 49px;
	height: 5vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items : center;
}

/* 오른쪽 영역 > content 영역 > select_wrap 영역 */
.list_wrap{
	box-sizing: border-box;
	min-width: 700px;
	width: 90%;
	height: auto;
	margin: auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items : center;
}

.list_wrap > table{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	table-layout: fixed;
}

.list_wrap > table tr td{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	padding: 7px 5px;
	border-top: 1px solid black;	
}

.list_wrap > table tr:nth-child(1) > td{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 10px;
	background: #A9A9A9;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.list_wrap > table tr:nth-child(1) > td:nth-child(1){
	width: 100px;
}

.list_wrap > table tr:nth-child(1) > td:nth-child(2){

}

.list_wrap > table tr:nth-child(1) > td:nth-child(3){
	width: 100px;
}

.list_wrap > table tr:nth-child(1) > td:nth-child(4){
	width: 160px;
}

.list_wrap > table tr:nth-child(1) > td:nth-child(5){
	width: 60px;
}

.list_wrap > table tr:nth-child(1) > td:nth-child(6){
	width: 60px;
}

.list_wrap > table tr > td:nth-child(2){
	text-align: left;
}

.replycnt{
	color: red;
}

/* 오른쪽 영역 > content 영역 > content_pagingArea 영역 */
.pagingArea{
	box-sizing: border-box;
	min-width: 700px;
	width: 90%;
	min-height: 30px;
	height: auto;
	margin: auto;
}

#paging{
	display: flex;
	justify-content: center;
}

#paging li{
	padding-left: 10px;
	cursor: pointer;
}
