@charset "UTF-8";

button{
	border-radius: 5px;
	cursor: pointer;
}

hr{
	height: 10px;
	box-shadow: 0 10px 10px -10px #bbb inset;
}


/* 오른쪽 영역 > content 영역 */
.content{
	flex-direction: column;
	box-sizing: border-box;
}

/* 오른쪽 영역 > content 영역 > content_title 영역 */
.content_title{
	box-sizing: border-box;
	min-width: 620px;
	width: 620px;
	min-height: 49px;
	height: 5vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items : center;
}

/* 오른쪽 영역 > content 영역 > mylotto_wrap 영역 */
.mylotto_wrap{
	box-sizing: border-box;
	min-width: 700px;
	width: 70%;
	height: auto;
	margin: auto;
	border: solid black;
	border-radius: 10px;
	background: #8C8C8C;
}

.mylotto_wrap > .table_wrap > table{
	width: 100%;
	height: auto;
	border-collapse: collapse;
	border: solid black;
}

.mylotto_wrap td{
	padding-top: 5px;
	border-bottom: solid black;
	text-align: center;
}

#tdTitle{
	height: 55px;
	background: #626262;
	font-size: 25px;
}

.myBallImg{
	width: 45px;
	height: 45px;
}

/* 오른쪽 영역 > content 영역 > mylotto_paging 영역 */
.mylotto_paging{
	box-sizing: border-box;
	min-width: 700px;
	width: 70%;
	min-height: 30px;
	height: auto;
	margin: auto;
}

#myPaging{
	padding-left: 0;
	display: flex;
	justify-content: center;
}

#myPaging li{
	padding-left: 15px;
	cursor: pointer;
}

/* 오른쪽 영역 > content 영역 > content_title 영역 */
.content_subTitle{
	box-sizing: border-box;
	min-width: 620px;
	width: 620px;
	min-height: 49px;
	height: 5vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items : center;
}

/* 오른쪽 영역 > content 영역 > mylotto_winning 영역 */
.mylotto_winning{
	box-sizing: border-box;
	min-width: 700px;
	width: 70%;
	height: auto;
	margin: auto;
	border: solid black;
	border-radius: 10px;
	background: #8C8C8C;
}

.mylotto_winning > .wtable_wrap > table{
	width: 100%;
	height: auto;
	border-collapse: collapse;
}

.mylotto_winning td{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.sBallImg{
	width: 60px;
	height: 60px;
	padding-left: 20px; 
}

.winning tr td{
	border-bottom: 1px solid;
	padding: 10px;
}

.winning tr:first-child td{
	color: white;
	background: #626262;
	border-bottom: black;
}

.winning > tr:nth-child(2) > td:nth-child(1){
	width: 12%;
}

.winning > tr:nth-child(2) > td:nth-child(2){
	width: 17%;
}

.winning > tr:nth-child(2) > td:nth-child(3){
	width: 27%;
}

.winning > tr:nth-child(2) > td:nth-child(4){
	width: 17%;
}

.winning > tr:nth-child(2) > td:nth-child(5){
	width: 17%;
}

.winning > tr:nth-child(2) > td:nth-child(6){
	width: 10%;
}

.winning tr:nth-child(2) td{
	color: white;
	background: #708090;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

/* 오른쪽 영역 > content 영역 > winning_paging 영역 */
.winning_paging{
	box-sizing: border-box;
	min-width: 700px;
	width: 70%;
	min-height: 30px;
	height: auto;
	margin: auto;
}

#wPaging{
	padding-left: 0;
	display: flex;
	justify-content: center;
}

#wPaging li{
	padding-left: 15px;
	cursor: pointer;
}
