@charset "UTF-8";

/* myInfo 전체*/
.myInfo_wrap{
	box-sizing: border-box;
	min-width: 760px;
	width: 100%;
	min-height: 90px;
	height: 10vh;
	margin: 10px 0 10px 0;
	padding: 10px;
	background: #DEB887;
}